services:
  hsstat:
    build: .
    container_name: hsstat
    env_file:
      - .env
    volumes:
      - hsstat-data:/app/data
    expose:
      - 3000
    restart: unless-stopped

volumes:
  hsstat-data:
